15-ACCOUNT_MANAGEMENT_SERVICES/ams-web/src/main/webapp/WEB-INF/wsdl/GetPriceByUser/AVS_GetPriceByUser_Message.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
xmlns:xs="http://www.w3.org/2001/XMLSchema" 
xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
xmlns:tns="http://ports.accenture.avs.getpricebyuser/GetPriceByUserService-v1" 
xmlns:ns="http://accenture.avs.getpricebyuser.types" 
targetNamespace="http://ports.accenture.avs.getpricebyuser/GetPriceByUserService-v1">
	<wsdl:types>
		<xs1:schema xmlns:prf="http://accenture.avs.getpricebyuser.types" xmlns:xs1="http://www.w3.org/2001/XMLSchema">
			<xs1:import namespace="http://accenture.avs.getpricebyuser.types" schemaLocation="AVS_GetPriceByUser_Types.xsd"/>
		</xs1:schema>
	</wsdl:types>
	
	<wsdl:message name="GetProductPriceByUserRequest">
		<wsdl:part name="GetProductPriceByUserRequest" element="ns:GetProductPriceByUserRequest"/>
	</wsdl:message>

	<wsdl:message name="GetContentPriceByUserRequest">
		<wsdl:part name="GetContentPriceByUserRequest" element="ns:GetContentPriceByUserRequest"/>
	</wsdl:message>
	
	<wsdl:message name="GetPpvPriceByUserRequest">
		<wsdl:part name="GetPpvPriceByUserRequest" element="ns:GetPpvPriceByUserRequest"/>
	</wsdl:message>
	
	<wsdl:message name="GetBundlePriceByUserRequest">
		<wsdl:part name="GetBundlePriceByUserRequest" element="ns:GetBundlePriceByUserRequest"/>
	</wsdl:message>
	
	<wsdl:message name="GetPriceByUserResponse">
		<wsdl:part name="GetPriceByUserResponse" element="ns:GetPriceByUserResponse"/>
	</wsdl:message>

	<wsdl:portType name="GetPriceByUserPort">
		
		<wsdl:operation name="GetPPVPrice">
			<wsdl:input message="tns:GetPpvPriceByUserRequest"/>
			<wsdl:output message="tns:GetPriceByUserResponse"/>
		</wsdl:operation>
		
		<wsdl:operation name="GetContentPrice">
			<wsdl:input message="tns:GetContentPriceByUserRequest"/>
			<wsdl:output message="tns:GetPriceByUserResponse"/>
		</wsdl:operation>
		
		<wsdl:operation name="GetProductPrice">
			<wsdl:input message="tns:GetProductPriceByUserRequest"/>
			<wsdl:output message="tns:GetPriceByUserResponse"/>
		</wsdl:operation>
		
		<wsdl:operation name="GetBundlePrice">
			<wsdl:input message="tns:GetBundlePriceByUserRequest"/>
			<wsdl:output message="tns:GetPriceByUserResponse"/>
		</wsdl:operation>
			
	</wsdl:portType>
</wsdl:definitions>