15-ACCOUNT_MANAGEMENT_SERVICES/src/AMS/WebContent/WEB-INF/wsdl/AccountManagement/AVS_AccountManagement_Message.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
xmlns:xs="http://www.w3.org/2001/XMLSchema" 
xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
xmlns:tns="http://ports.accenture.avs.accountmgmt/AccountMgmtService-v1" 
xmlns:ns="http://accenture.avs.accountmgmt.types" 
targetNamespace="http://ports.accenture.avs.accountmgmt/AccountMgmtService-v1">
	<wsdl:types>
		<xs1:schema xmlns:prf="http://accenture.avs.accountmgmt.types" xmlns:xs1="http://www.w3.org/2001/XMLSchema">
			<xs1:import namespace="http://accenture.avs.accountmgmt.types" schemaLocation="AVS_AccountManagement_Types.xsd"/>
		</xs1:schema>
	</wsdl:types>
	<wsdl:message name="CrmAccountMgmtRequest">
		<wsdl:part name="CrmAccountMgmtRequest" element="ns:CrmAccountMgmtRequest"/>
	</wsdl:message>
	<wsdl:message name="UpdateUserPwdRequest">
		<wsdl:part name="UpdateUserPwdRequest" element="ns:UpdateUserPwdRequest"/>
	</wsdl:message>
	<wsdl:message name="UpdateUserRequest">
		<wsdl:part name="UpdateUserRequest" element="ns:UpdateUserRequest"/>
	</wsdl:message>
	<wsdl:message name="UpdateCrmAccountCommercialProfileRequest">
		<wsdl:part name="UpdateCrmAccountCommercialProfileRequest" element="ns:UpdateCrmAccountCommercialProfileRequest"/>
	</wsdl:message>
	<wsdl:message name="CrmContentPurchaseRequest">
		<wsdl:part name="CrmContentPurchaseRequest" element="ns:CrmContentPurchaseRequest"/>
	</wsdl:message>
	<!-- start AVS1.3 -->
	<wsdl:message name="SdpDataRequestParty">
		<wsdl:part name="SdpDataRequestParty" element="ns:SdpDataRequestParty"/>
	</wsdl:message>
	<wsdl:message name="SdpDataRequestProfile">
		<wsdl:part name="SdpDataRequestProfile" element="ns:SdpDataRequestProfile"/>
	</wsdl:message>	
	<!-- end AVS1.3 -->
	<wsdl:message name="AccountMgmtResponse">
		<wsdl:part name="AccountMgmtResponse" element="ns:AccountMgmtResponse"/>
	</wsdl:message>
	<!-- start AVS1.3 -->
	<wsdl:message name="GetSdpPartyProfileDataResponse">
		<wsdl:part name="GetSdpPartyProfileDataResponse" element="ns:GetSdpPartyProfileDataResponse"/>
	</wsdl:message>
	<wsdl:message name="GetSdpAccountProfileDataResponse">
		<wsdl:part name="GetSdpAccountProfileDataResponse" element="ns:GetSdpAccountProfileDataResponse"/>
	</wsdl:message>		
	<!-- end AVS1.3 -->
	<wsdl:portType name="AccountMgmtPort">
		
		<wsdl:operation name="CrmAccountMgmtService">
			<wsdl:input message="tns:CrmAccountMgmtRequest"/>
			<wsdl:output message="tns:AccountMgmtResponse"/>
		</wsdl:operation>
		
		<wsdl:operation name="UpdateUserPwdService">
			<wsdl:input message="tns:UpdateUserPwdRequest"/>
			<wsdl:output message="tns:AccountMgmtResponse"/>
		</wsdl:operation>
		
		<wsdl:operation name="UpdateUserService">
			<wsdl:input message="tns:UpdateUserRequest"/>
			<wsdl:output message="tns:AccountMgmtResponse"/>
		</wsdl:operation>
		
		<wsdl:operation name="UpdateCrmAccountCommercialProfileService">
			<wsdl:input message="tns:UpdateCrmAccountCommercialProfileRequest"/>
			<wsdl:output message="tns:AccountMgmtResponse"/>
		</wsdl:operation>
		<!-- start AVS1.3 -->
		<wsdl:operation name="CrmContentPurchaseService">
			<wsdl:input message="tns:CrmContentPurchaseRequest"/>
			<wsdl:output message="tns:AccountMgmtResponse"/>
		</wsdl:operation>

		<wsdl:operation name="GetSdpPartyProfileDataService">
			<wsdl:input message="tns:SdpDataRequestParty"/>
			<wsdl:output message="tns:GetSdpPartyProfileDataResponse"/>
		</wsdl:operation>
		
		<wsdl:operation name="GetSdpAccountProfileDataService">
			<wsdl:input message="tns:SdpDataRequestProfile"/>
			<wsdl:output message="tns:GetSdpAccountProfileDataResponse"/>
		</wsdl:operation>
		<!-- end AVS1.3 -->			
	</wsdl:portType>
</wsdl:definitions>