15-ACCOUNT_MANAGEMENT_SERVICES/src/AMS/WebContent/wsdl/getPriceByUser/AVS_GetPriceByUser_CommonTypes.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:common="http://accenture.avs.getpricebyuser.commontypes"
	targetNamespace="http://accenture.avs.getpricebyuser.commontypes"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<!-- Common Types Definitions -->
	<xs:simpleType name="OperationPwdType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CHANGE" />
			<xs:enumeration value="RESET" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OperationProfileType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ADD" />
			<xs:enumeration value="DELETE" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FlagTypeYN">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Y" />
			<xs:enumeration value="N" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FlagType12">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1" />
			<xs:enumeration value="2" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FlagType123">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1" />
			<xs:enumeration value="2" />
			<xs:enumeration value="3" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FlagType1234">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1" />
			<xs:enumeration value="2" />
			<xs:enumeration value="3" />
			<xs:enumeration value="4" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FlagTypeMF">
		<xs:restriction base="xs:string">
			<xs:enumeration value="M" />
			<xs:enumeration value="F" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UserStatusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1" />
			<xs:enumeration value="2" />
			<xs:enumeration value="3" />
			<xs:enumeration value="5" />
			<xs:enumeration value="9" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StrMin1Max10">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="10" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StrMin1Max50">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="50" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StrMax50">
		<xs:restriction base="xs:string">
			<xs:minLength value="0" />
			<xs:maxLength value="50" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StrMin1Max200">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="200" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StrMin1Max1000">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="1000" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StrMin1Max100">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="100" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StrMin4Max32">
		<xs:restriction base="xs:string">
			<xs:minLength value="4" />
			<xs:maxLength value="32" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StrMin4Max20">
		<xs:restriction base="xs:string">
			<xs:minLength value="4" />
			<xs:maxLength value="20" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StrMin1Max20">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="20" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Str2">
		<xs:restriction base="xs:string">
			<xs:length value="2" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Str3">
		<xs:restriction base="xs:string">
			<xs:length value="3" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Str4">
		<xs:restriction base="xs:string">
			<xs:length value="4" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Str10">
		<xs:restriction base="xs:string">
			<xs:length value="10" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StrMin1Max256">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="256" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StrMin1Max1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="1" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateType">
		<xs:restriction base="xs:date" />
	</xs:simpleType>
	<xs:simpleType name="ZipCodeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{5}"></xs:pattern>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DecimalType">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="9" />
			<xs:fractionDigits value="2" />
			<!-- start  AVS1.3 -->
			<!-- <xs:minExclusive value="0" />
			<xs:maxExclusive value="9999999.99" /> -->
			<xs:minInclusive value="0" />
			<xs:maxInclusive value="9999999.99" />
			<!-- end  AVS1.3 -->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Number2Digit">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1" />
			<xs:maxInclusive value="99" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Number2DigitWith0">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0" />
			<xs:maxInclusive value="99" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Number5Digit">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0" />
			<xs:maxInclusive value="44640" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NumMax38Digit">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1" />
			<xs:maxInclusive value="99999999999999999999999999999999999999" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="UpdateProfileType">
		<xs:sequence>
			<xs:element name="CrmProductId" type="common:NumMin1Max11Digit" nillable="false" />
			<xs:element name="OperationType" type="common:OperationProfileType" nillable="false" />
			<!-- start AVS1.3 -->
			<xs:element name="ExternalOfferList" type="common:ExternalOfferListType" nillable="false" minOccurs="0" />
			<!-- end AVS1.3 -->
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UpdateProfileListType">
		<xs:sequence>
			<xs:element name="UpdateCommProfOp" type="common:UpdateProfileType" minOccurs="0" maxOccurs="unbounded" nillable="false" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PayloadType">
		<xs:sequence>
			<xs:element name="TenantName" type="common:StrMin1Max50" nillable="true"/>
			<xs:element name="CrmAccountId" type="common:Str10" nillable="true" />
			<!-- start AVS1.3 
			<xs:element name="Channel" type="common:StrMin1Max10" nillable="true" />
			end AVS1.3-->
			<xs:element name="UserType" type="common:FlagType123" nillable="true" />
			<xs:element name="UserStatus" type="common:Number2Digit" nillable="true" />
			<!-- start AVS1.3 -->
			<xs:element name="CrmAccountDevices" type="common:CrmAccountDevicesListType" nillable="true" />
			<!-- <xs:element name="CrmAccountDeviceId" type="common:StrMin1Max200" nillable="true" /> 
			<xs:element name="CrmAccountDeviceIdType" type="common:Number2Digit" nillable="true" /> -->
			<!-- end AVS1.3 -->
			<xs:element name="Username" type="common:StrMin4Max32" nillable="true" />
			<xs:element name="Password" type="common:StrMin4Max20" nillable="true" />
			<xs:element name="Name" type="common:StrMin1Max256" nillable="true" />
			<xs:element name="Surname" type="common:StrMin1Max256" nillable="true" />
			<xs:element name="BirthDate" type="common:DateType" nillable="true" />
			<xs:element name="Gender" type="common:FlagTypeMF" nillable="true" />
			<xs:element name="CrmAccountZipCode" type="common:ZipCodeType" nillable="true" />
			<xs:element name="Email" type="common:StrMin1Max100" nillable="true" />
			<xs:element name="CrmAccountMobileNumber" type="common:StrMin1Max20" nillable="true" />
			<xs:element name="UserCountry" type="common:Str2" nillable="true" />
			<xs:element name="UserLanguage" type="common:Str2" nillable="true" />
			<xs:element name="QualitySetting" type="common:FlagType12" nillable="true" />
			<xs:element name="UserPaymentMethod" type="common:Number2Digit" nillable="true" />
			<xs:element name="UserRememberPinFlag" type="common:FlagTypeYN" nillable="true" />
			<xs:element name="UserPcLevel" type="common:Number2DigitWith0" nillable="true" />
			<xs:element name="UserPinPurchase" type="common:Str4" nillable="true" />
			<xs:element name="UserPinParentalControl" type="common:Str4" nillable="true" />
			<!-- start AVS1.3 -->
			<xs:element name="UserPcExtendedRatings" type="common:UserPcExtendedRatingsListType" nillable="true" />
			<!-- <xs:element name="UserPcExtendedRatings" type="common:StrMin1Max1" nillable="true" /> -->
			<!-- end AVS1.3 -->
			<xs:element name="CrmAccountPurchaseBlockingFlag" type="common:FlagTypeYN" nillable="true" />
			<xs:element name="CrmAccountPurchaseBlockingThresholdCurrency" type="common:Str3" nillable="true" />
			<xs:element name="CrmAccountPurchaseBlockingThresholdValue" type="common:DecimalType" nillable="true" />
			<xs:element name="CrmAccountPurchaseBlockingThresholdPeriod" type="common:FlagType1234" nillable="true" />
			<xs:element name="CrmAccountPurchaseBlockingAlertEnabledFlag" type="common:FlagTypeYN" nillable="false" />
			<xs:element name="CrmAccountPurchaseBlockingAlertChannel" type="common:FlagType123" nillable="true" />
			<xs:element name="CrmAccountPurchaseBlockingAlertMode" type="common:FlagType123" nillable="true" />
			<xs:element name="CrmAccountPurchaseBlockingIntermediateThreshold" type="common:DecimalType" nillable="false" />
			<xs:element name="CrmAccountConsumptionBlockingFlag" type="common:FlagTypeYN" nillable="true" />
			<xs:element name="CrmAccountConsumptionBlockingThresholdValue" type="common:Number5Digit" nillable="true" />
			<xs:element name="CrmAccountConsumptionBlockingThresholdPeriod" type="common:FlagType1234" nillable="true" />
			<xs:element name="CrmAccountConsumptionBlockingEnabledFlag" type="common:FlagTypeYN" nillable="true" />
			<xs:element name="CrmAccountConsumptionBlockingAlertChannel" type="common:FlagType123" nillable="true" />
			<xs:element name="CrmAccountConsumptionBlockingAlertMode" type="common:FlagType123" nillable="true" />
			<xs:element name="CrmAccountConsumptionBlockingIntermediateThreshold" type="common:Number5Digit" nillable="true" />
			<xs:element name="CrmAccountPurchaseValue" type="common:DecimalType" nillable="false" />
			<xs:element name="CrmAccountConsumption" type="common:Number5Digit" nillable="false" />
			<xs:element name="CrmAccountRetailerDomain" type="common:StrMin1Max50" nillable="false" />
			<xs:element name="UpdateCommProfileList" type="common:UpdateProfileListType" nillable="false" />
		</xs:sequence>
	</xs:complexType>
	
	<!-- start AVS1.3 -->
	<xs:simpleType name="OperationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PURCHASE" />
			<xs:enumeration value="REFUND" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ExternalSolutionOffertType">
		<xs:sequence>
			<xs:element name="ExternalSolutionOfferId" type="common:NumMin1Max11Digit" nillable="false" />
			<xs:element name="ExternalOfferList" type="common:ExternalOfferListType" nillable="false" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExternalOfferListType">
		<xs:sequence>
			<xs:element name="ExternalOffer" type="common:ExternalOfferType" nillable="false" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExternalOfferType">
		<xs:sequence>
			<xs:element name="ExternalOfferId" type="common:NumMin1Max11Digit" nillable="false" />
			<xs:element name="PackageId" type="common:StrMin1Max50" nillable="false" />
			<xs:element name="Price" type="xs:decimal" nillable="false" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="NumMin1Max11Digit">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1" />
			<xs:maxInclusive value="99999999999" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="UserPcExtendedRatingsListType">
		<xs:sequence>
			<xs:element name="UserPcExtendedRating" type="common:ExtendedRatingType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ExtendedRatingType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="S" />
			<xs:enumeration value="T" />
			<xs:enumeration value="H" />
			<xs:enumeration value="D" />
			<xs:enumeration value="A" />
			<xs:enumeration value="G" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CrmAccountDevicesListType">
		<xs:sequence>
			<xs:element name="CrmAccountDevice" type="common:CrmAccountDeviceType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CrmAccountDeviceType">
		<xs:sequence>
			<xs:element name="CrmAccountDeviceId" type="common:StrMin1Max200" /> 
			<xs:element name="CrmAccountDeviceIdType" type="common:Number2Digit" />
			<xs:element name="Channel" type="common:StrMin1Max10" nillable="true" />
		</xs:sequence>
	</xs:complexType>
	<!-- end AVS1.3 -->
</xs:schema>