15-ACCOUNT_MANAGEMENT_SERVICES/src/AMS/WebContent/wsdl/AccountManagement/AVS_AccountManagement_Service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
xmlns:xs="http://www.w3.org/2001/XMLSchema" 
xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
xmlns:tns="http://ws.be.avs.accenture.com/AccountMgmtService-v1" 
xmlns:ns="http://ports.accenture.avs.accountmgmt/AccountMgmtService-v1" 
targetNamespace="http://ws.be.avs.accenture.com/AccountMgmtService-v1">
	<wsdl:import namespace="http://ports.accenture.avs.accountmgmt/AccountMgmtService-v1" location="AVS_AccountManagement_Message.wsdl"/>
	<wsdl:binding name="SoapBinding" type="ns:AccountMgmtPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="CrmAccountMgmtService">
			<soap:operation soapAction="http://ws.be.avs.accenture.com/AccountMgmtService-v1/CrmAccountMgmtRequest" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateUserPwdService">
			<soap:operation soapAction="http://ws.be.avs.accenture.com/AccountMgmtService-v1/UpdateUserPwdRequest" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateUserService">
			<soap:operation soapAction="http://ws.be.avs.accenture.com/AccountMgmtService-v1/UpdateUserRequest" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateCrmAccountCommercialProfileService">
			<soap:operation soapAction="http://ws.be.avs.accenture.com/AccountMgmtService-v1/UpdateCrmAccountCommercialProfileRequest" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<!-- start AVS1.3 -->
		<wsdl:operation name="CrmContentPurchaseService">
			<soap:operation soapAction="http://ws.be.avs.accenture.com/AccountMgmtService-v1/CrmContentPurchaseRequest" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		 <wsdl:operation name="GetSdpPartyProfileDataService">
			<soap:operation soapAction="http://ws.be.avs.accenture.com/AccountMgmtService-v1/SdpDataRequestParty" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetSdpAccountProfileDataService">
			<soap:operation soapAction="http://ws.be.avs.accenture.com/AccountMgmtService-v1/SdpDataRequestProfile" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<!-- end AVS1.3 -->			
	</wsdl:binding>
	<wsdl:service name="AccountMgmtService">
		<wsdl:port name="AccountMgmtServicePort" binding="tns:SoapBinding">
			<soap:address location="http://localhost/AccountMgmtService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>